* {
  box-sizing : border-box;
}
html {
  background-color: rgb(149, 149, 149);
}
body {
  margin: 0;
  background-image: url('waterDrops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titleHeader {
  background-color: rgba(0, 0, 0, 0.25);
}
.subHeader {
  background-color: rgb(0, 0, 0, 0.5);
}
.searchLocation {
  text-align: center;
  padding: 5px;
}
.searchLocation input {
  width: 100px;
}
.searchLocation button {
  background-color: rgb(237, 237, 237);
}
header a {
  position: relative;
  font-size: 12px;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  bottom: 8px;
}
header h1, h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
}
header h2 {
  font-style: italic;
}
.title {
  margin: 0;
  padding: 0;
}
.signupForm {
  display: inline-block;
  width: 17%
}
main {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: block;
}
#map {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
 }
h1 {
  font-size: 22px;
}
h2 {
  font-size: 14px
}
h3 {
  font-size: 14px
}
@media only screen and (min-width : 640px) {
  .col-3 {
    width : 25%;
  }
  .col-4 {
    width : 33.33333%;
  }
  .col-6 {
    width : 50%;
  }
  .col-12 {
    width : 100%;
  }
  header a {
    float: right;
    margin: 0 0 0 15px;
  }
}