* {
  box-sizing : border-box;
  font-family: roboto;
}

/* ---- */
.row::before,
.row::after {
  display : table;
  content : '';
}
.row::after {
  clear: both;
}
/* ----- */

/* This is new content: */

.links h3 {
  display: inline-block;
  margin: 2px 10px;
}
.links a {
  text-decoration: none;
  color: #00c1ff;
}
/* This is new content: */

html {
  background-color: rgb(149, 149, 149);
}
body {
  margin: 0;
  background-image: url('waterDrops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  display: inline-block;
}
.headerOne {
  background-color: rgba(3, 5, 5, 0.65);
    padding: 5px 0 5px 10px;
}
.headerTwo {
  text-align: center;
  background-color: rgba(39, 69, 75, 0.67);
}
.headerThree {
  background-color: rgba(3, 5, 5, 0.65);
  padding: 0 10px;
}
.searchLocation {
  text-align: center;
  padding: 5px;
}
.searchLocation input {
  width: 100px;
}
.searchLocation button {
  background-color: rgb(237, 237, 237);
}
.user-form {
  padding: 1px;
}
.user-form button {
  box-shadow: inset 0 0 5px 0px white;
  background-color: #0d00ff5c;
}
.userField {
  display:block;
  margin: 5px auto;
}
/* header a {
  position: relative;
  font-size: 12px;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  bottom: 8px;
} */
header h1, h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}
.signupForm {
  display: inline-block;
  width: 17%
}
main {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: block;
}
#map {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
 }
h1 {
  font-size: 22px;
}
h2 {
  font-size: 14px
}
h3 {
  font-size: 14px
}





@media only screen and (min-width : 640px) {
  .links {
    float: right;
    margin-left: 15px;
  }
}