html {
  background-color: rgb(149, 149, 149);
  /* min-height: 100%; */
}
body {
  margin: 0;
  /* min-height: 100%; */
  position: relative;
}

html, body, main, #map {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

main {
  /* border: 5px solid orange; */
}

.titleHeader {
  background-color: rgb(237, 237, 237);
}
.subHeader {
  background-color: rgb(202, 202, 202);
}
.searchLocation {
  margin: 5px 0 5px 0;
  text-align: center;
}
.searchLocation input {
  width: 100px;
}
.searchLocation button {
  background-color: rgb(237, 237, 237);
}
header a {
  position: relative;
  font-size: 12px;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  bottom: 8px;
}
header h1, h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
}
header h2 {
  font-style: italic;
}
.title {
  margin: 0;
  padding: 0;
}
.signupForm {
  display: inline-block;
  width: 17%
}
main {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: block;
}
#map {
  height: 100%;
  border: 5px solid black;
 }
h1 {
  font-size: 22px;
}
h2 {
  font-size: 14px
}
h3 {
  font-size: 14px
}