* {
  box-sizing : border-box;
}
html {
  background-color: rgb(149, 149, 149);
  min-width: 124px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  margin: 0;
  background-image: url('waterDrops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  font-family: roboto, sans-serif;
}
main {
  background-color: rgba(49, 68, 84, 0.5);
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: block;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 10px;
  font-weight: normal;
}
h3 {
  font-size: 14px
}
header {
  background-color: rgba(49, 68, 84, .95);
  padding: 5px 0 5px 10px;
  min-height: 54px
}
header h1, h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}
button {
  background-color: rgba(30, 45, 56, 0.95);
  color: white;
  border-radius: 6px;
}
.headerContentContainer {
  max-width: 1920px;
  margin: auto;
}
.title {
  display: inline-block;
}
.title h1 {
  color: #00beff
}
.titleColorTwo {
  color: white;
  font-style: italic;
}
.links {
  position: absolute;
  top: 5px;
  right: 5px;
}
.links h3 {
  font-size: 14px;
  display: inline-block;
  margin: 0 0 0 5px;
}
.links a {
  text-decoration: none;
  color: #00c1ff;
  margin-left: 5px;
} 
.welcomeUser {
  color: white;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: 1px;
  top: 20px;
  width: 96px;
}
.hiddenDivider {
  display: none;
}
.searchLocation {
  text-align: center;
}
.searchLocation input {
  width: 100px;
  padding: 0;
}
.searchLocation p {
  display: inline;
  color: white;
}
.login-form, .signup-form {
  padding: 1px;
  text-align: center;
  width: 250px;
  border: 4px solid #eaeaea;
  border-radius: 15px;
  margin: 5% auto;
  padding: 30px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: #333a3d;
}
.loginMessage, .signupMessage {
  color: yellow;
}
.js-user-form {
  height: 75%;
  position: absolute;
  width: 100%;
}
.searchTerms {
  margin: 5px auto;
}
.postLocation {
  display: none;
}

button.postLocation {
  margin: 5px 0;
}

.userField {
  display:block;
  margin: 5px auto;
}

.signupForm {
  display: inline-block;
  width: 17%
}
#map {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  max-width: 1920px;
  min-width: 124px;
  margin: auto;
  pointer-events: auto;
 }
 
/* ------- Google Map Components ------- */
#map > div > div > div:nth-child(1) > 
div:nth-child(3) > div > div:nth-child(4) > 
div > div:nth-child(1) > div:nth-child(4) {
  border: 1px solid rgb(183, 221, 239);
  border-radius: 15px !important;
  background:
  linear-gradient(
      #00b0ff63, 
      #c8f0ff8a,
      #c8f0ff14, 
      rgba(125, 131, 255, 0)
    ),
  url('iw-background.jpg');
  background-size: 120%;
  background-position: bottom;
  background-repeat:no-repeat;
}

#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div {
  background-color: rgb(184, 221, 238) !important;
  box-shadow: rgb(58, 110, 136) -3px 3px 6px 0px !important;
}
#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div {
  background-color: rgb(184, 221, 238) !important;
  box-shadow: rgb(58, 110, 136) 3px 3px 6px 0px !important;
}
#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2) {
  background-color: rgb(58, 110, 136) !important;
}
#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > button {
  box-shadow: none !important;
}

.gm-style-iw {
  min-width: 150px;
  max-width: 155px;
  height: 225px;
}
#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2) {
  background-color: rgb(255, 0, 0);
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 0px -1px !important;
  border-radius: 15px !important;
  box-shadow: rgb(58, 110, 136) 0px 0px 6px 4px !important;
}
#infoWindowTitle {
  color:black;
  font-size: 16px;
  font-family: roboto;
}
#infoWindowDescription {
  position: relative;
  margin: 5px 0;
  max-height: 68px;
}
.windowWrapper {
  position: static;
}
p.infoWindow {
  font-size: 12px;
}
.iw-bold {
  font-weight: bold;
}
.iw-edit-button {
  text-align: center;
}
.newMarker input, button, select {
  margin: 5px;
}
.newMarker select {
  width: 120px
}
.editMarkerField {
  margin: 5px;
}
#editMarkerType {
  width: 120px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 25px;
  background-color: rgba(49, 68, 84, .95); 
  height: 26px;
  z-index: 1;
}
.footerLinks {
  display: inline;
}
.footerElement {
  display: inline;
  color: white;
}
#copyRight {
  font-size: 10px;
  position: absolute;
  right: 4px;
  bottom: 0px;
  color: #00c2ff;
}
.footerLinks a {
  display: inline;
  color: rgb(0, 190, 255);
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
.about {
  text-align: center;
  width: 95%;
  position: absolute;
  max-height: 95%;
  border: 4px solid #eaeaea;
  border-radius: 15px;
  margin: 5px auto;
  padding: 0 10px;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: #333a3d;
  overflow: scroll;
}
.aboutText {
  text-align: left;
}
.about p {
  color: rgb(0, 194, 255);
  /* font-weight: bold; */
}
.aboutText::first-letter {
  color: white;
}
#closeAppInfo {
  position: relative;
  bottom: 5px;
}

/* --------------------------------------- */
@media only screen and (min-width : 500px) {
  .links {
    float: right;
    margin-left: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .headerThree {
    background-color: rgba(0, 0, 0, 0.72);
  }
  .welcomeUser {
    position: static;
    display: inline !important;
    padding-right: 15px;
  }
}
@media only screen and (min-width : 1920px) {
  .title {
    position: fixed;
  }
  .links {
    position: absolute;
    left: 1720px;
  }
}
