* {
  box-sizing : border-box;
  font-family: roboto;
}
html {
  background-color: rgb(149, 149, 149);
  min-width: 124px;
}
body {
  margin: 0;
  background-image: url('waterDrops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  position: absolute;
  max-height: 100%;
  width: 100%;
  display: block;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 14px
}
h3 {
  font-size: 14px
}
header h1, h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}
button {
  box-shadow: inset 0 0 5px 0px white;
  background-color: #0d00ff5c;
  color: white;
}
.headerOne {
  background-color: rgba(0, 0, 0, 0.87);
    padding: 5px 0 5px 10px;
    min-height: 54px
}
.headerTwo {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.72);
}
.headerThree {
  background-color: rgba(0, 0, 0, 0.54);
  padding: 0 10px;
}
.headerContentContainer {
  max-width: 1920px;
  margin: auto;
}
.title {
  display: inline-block;
}
.links h3 {
  display: inline-block;
  margin: 2px 10px;
}
.links a {
  text-decoration: none;
  color: #00c1ff;
}
.searchLocation {
  text-align: center;
  padding: 5px;
}
.searchLocation input {
  width: 100px;
}
.user-form {
  padding: 1px;
  text-align: center;
}
.postButton {
  margin: 5px auto;
}
.postLocation {
  display: none;
}

.userField {
  display:block;
  margin: 5px auto;
}

.signupForm {
  display: inline-block;
  width: 17%
}
#map {
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  max-width: 1920px;
  min-width: 124px;
  margin: auto;
 }


/* --------------------------------------- */
@media only screen and (min-width : 500px) {
  .links {
    float: right;
    margin-left: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .headerThree {
    background-color: rgba(0, 0, 0, 0.72);
  }
}
@media only screen and (min-width : 1920px) {
  .title {
    position: fixed;
  }
  .links {
    position: absolute;
    left: 1720px;
  }
}
